Alfresco {
   com.sun.security.auth.module.Krb5LoginModule sufficient;
};

AlfrescoCIFS {
   com.sun.security.auth.module.Krb5LoginModule required
   storeKey=true
   useKeyTab=true
   doNotPrompt=true
   keyTab="/home/vagrant/alfresco/cifsclientlinux.keytab"
   principal="cifs/clientlinux.mshome.net@MSHOME.NET";
};

AlfrescoHTTP
{
   com.sun.security.auth.module.Krb5LoginModule required
   storeKey=true
   useKeyTab=true
   doNotPrompt=true
   keyTab="/home/vagrant/alfresco/httpclientlinux.keytab"
   principal="HTTP/clientlinux.mshome.net@MSHOME.NET";
};

ShareHTTP
{
   com.sun.security.auth.module.Krb5LoginModule required
   storeKey=true
   useKeyTab=true
   doNotPrompt=true
   keyTab="/home/vagrant/alfresco/httpclientlinux.keytab"
   principal="HTTP/clientlinux.mshome.net@MSHOME.NET";
};

com.sun.net.ssl.client {
   com.sun.security.auth.module.Krb5LoginModule sufficient;
};

other {
   com.sun.security.auth.module.Krb5LoginModule sufficient;
};
